*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
    scroll-behavior: smooth;
}


.navigation-list {
    background-color: grey;
    list-style: none;
    position:fixed;
    width:100%;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}


.navigation-listitem {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    padding:8px 0;
    width: 18%;   
}


.navigation-listitem a {
    color:#fff;
    display:inline-block;
    font-size: larger;
    padding:5%;
    text-decoration: none;
    white-space: nowrap;
}


.navigation-listitem a:hover {
    background-color: #fff;
    color:#000;
}


.heading {
    color:#fff;
    font-size:40px;
    position:absolute;
    top: 112px;
    left:30px;
    z-index: 1;
}


.banner-image {
    padding-top:66px;
    height:90vh;
    width:100%;
}


#team {
    text-align: center;
    padding: 174px 0 74px;
    margin-bottom: 20px;
    margin-top: auto;
}


#team img {
    border-radius: 50%;
    margin: 24px 2%;
}

#about {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20px;
    margin-top: auto;
}


#about h1 {
    margin-bottom: 32px;
    margin-top: 0px;
}


.left-side {
    background-color: grey;
    display:inline-block;
    width: 45%;
    height:540px;
    margin-right: 10px;
    overflow: hidden;
    padding:10px;
    min-width: 280px;
}


.left-side h3 {
    text-align: left;
    color:white;
    margin-bottom: 24px;
}


.left-side p {
    text-align: justify;
    color:white;
    
}


.right-side {
    display:inline-block;
    width:45%;
    height:470px;
    min-width: 280px;
}


.project {
    width:100%;
    height:180px;
    margin-bottom: 10px;
    overflow: hidden; 
}


.project h3 {
    position: absolute;
    text-align: center;
    left:0;
    right:0;
}


.project img {
    width:100%;
    
}


#tech {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

#head1{
    margin-bottom: 60px;
}

h3{
    margin:12px 0 0 0;
    font-size: medium;
}

.box{
    width:300px;
    height:auto;
    background-color: turquoise;
    overflow:hidden;
    border:1px solid blue;
    margin-bottom: 10px;
    padding:20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.container{
    display: inline-flex;
    width:98%;
}

.box img{
    width:100%;
    height:160px;
    border-radius: 20px;
}

.box h3{
    text-align: center;
    margin:10px;
}

.button{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: lightyellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 0px;
}

.button:hover{
    background-color: red;
}

#contact {
    text-align: center;
}


.footer {
    background-color: pink;
    margin-top:16px;
    padding:16px 0 24px;
    font-size: smaller;
}